:root {
    --left-container-light-txt-colour: rgb(255, 255, 255);
    --fern-green: #596D48;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

.container {
    display: flex;
    height: 100vh;
}

.left-screen-container {
    flex: 3 1 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-screen-container {
    flex: 5 1 0;   
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
}

.background-img {
    width: 100%;
    position: absolute;
    z-index: -100;
    height: 100%;
}

.odin-title-banner,
.img-credits-txt {
    color: var(--left-container-light-txt-colour);
    font-family: Norse-Bold;
    text-align: center;
}

.odin-title-banner {
    background-color: rgba(0,0,0,0.4);
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 6.5rem;
    margin-top: 25%;
}

.odin-title-banner-img  {
    max-height: 8rem;
    width: auto;
}

.odin-title-banner-txt {
    margin: 0;
}

.form-page-intro-txt {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 20px 50px;
}

.form {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
}

.input-section {
    background-color: var(--left-container-light-txt-colour);
    max-height: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.input-section,
.submit-section {
    flex-grow: 1;
}

.input-fields {
    display: flex;
    flex-flow: row wrap;
}

.label-input-pair-container {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}

.input-field {
    width: 300px;
    height: 20px;
    border: solid #E5E7EB 1px;
    border-radius: 3px;
}

.input-section-form-para {
    margin-left: 50px;
}

.input-label {
    font-size: 0.8rem;
}

.create-account-submit-btn, 
.login-alternative-text {
    margin-left: 50px;
}

.create-account-submit-btn {
    width: 220px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--fern-green);
    color: var(--left-container-light-txt-colour)
}

.login-link:link,
.login-link:visited {
    text-decoration: none;
    color: var(--fern-green);
}

.input-section-form-para,
.first-para,
.second-para {
    font-weight: bold;
    font-size: 1.5rem;
}

.first-para {
    margin-bottom: 10px;
}

.second-para {
    margin-top: 10px;
}

#confirm-password-input:invalid,
#password-input:invalid {
    border: solid red 1px;
}

.password-not-match-txt {
    color: red;
    margin: 0;
    font-size: 0.7rem;
}

.input-field:focus {
    border: solid 1px red;
}
